.fs18 {
  font-size: 18px; }
  .fs18 * {
    font-size: 18px; }

.fs28 {
  font-size: 28px; }
  .fs28 * {
    font-size: 28px; }

.gray_color {
  color: #939393; }

* {
  font-size: 12px;
  line-height: 16px;
  font-family: 'Montserrat', sans-serif;
  color: #303030; }

header {
  border-bottom: solid 1px #EEEEEE; }

a {
  color: #303030;
  text-decoration: none; }
  a:hover {
    color: #FA3F3F;
    text-decoration: none; }

p {
  font-size: 18px;
  line-height: 28px; }
  p * {
    font-size: inherit;
    line-height: inherit; }

input[type='text'] {
  border-radius: 5px; }

.red-button {
  border: none;
  border-radius: 5px;
  background: #FA3F3F;
  height: 48px;
  width: 100%;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  border: solid 1px transparent;
  display: flex;
  align-items: center;
  justify-content: center; }
  .red-button:hover {
    color: #FA3F3F;
    border: solid 1px #FA3F3F;
    background: none; }
  .red-button:active {
    background: #fa3f3f1f; }

.search__body {
  border: solid 2px #FA3F3F;
  border-radius: 5px;
  display: flex;
  overflow: hidden;
  height: 44px; }

.search__submit {
  border: none;
  border-radius: 0;
  background: #FA3F3F;
  height: auto;
  width: 60px; }

.header .uk-navbar-container {
  background: none; }

.header .uk-navbar-nav > li > a, .header .uk-navbar-item, .header .uk-navbar-toggle {
  min-height: 50px; }

.header .uk-navbar-dropdown {
  width: 100%;
  left: 0 !important; }

.header .uk-navbar {
  position: static; }

@media (min-width: 640px) {
  .logo_width {
    width: 15%; } }

.search_width {
  width: 65%; }

.basket {
  text-align: center; }
  @media (min-width: 640px) {
    .basket_width {
      width: 10%; } }

.lk-link {
  text-align: center; }
  @media (min-width: 640px) {
    .lk-link_width {
      width: 10%; } }

.nav {
  width: 100%;
  justify-content: space-between;
  display: flex; }
  .nav a {
    text-transform: uppercase;
    font-weight: 600; }
  .nav__body {
    margin: 20px 0;
    display: flex; }
    .nav__body li {
      padding-left: 25px; }
      .nav__body li:first-of-type {
        padding-left: 0; }
    .nav__body_scroll {
      position: relative;
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap; }

.print-block {
  padding: 10px; }
  @media (min-width: 640px) {
    .print-block {
      background: #FBFAFA;
      height: 200px;
      border-radius: 5px; } }

.print-form {
  border-radius: 5px;
  padding: 5px;
  height: calc(100% - 15px);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: #939393; }
  @media (min-width: 640px) {
    .print-form {
      border: dashed 2px #cacaca; } }
  .print-form__submit {
    border: none;
    border-radius: 5px;
    background: #FA3F3F;
    height: 44px;
    width: 238px;
    background: #fa3f3f1f;
    color: #FA3F3F;
    font-weight: 600;
    text-transform: uppercase; }
  .print-form__file {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer; }

.tab {
  background: #FBFAFA;
  padding: 0; }
  .tab__button {
    border: none;
    border-radius: 5px;
    background: #FA3F3F;
    height: 48px;
    width: 100%;
    text-align: center;
    background: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center; }
  .tab li {
    list-style: none; }
  .tab .uk-active a {
    background: #FA3F3F;
    color: #fff; }

.payment {
  padding: 20px;
  background: #FBFAFA; }
  @media (min-width: 640px) {
    .payment__body {
      justify-content: space-between;
      display: flex; } }
  .payment__warning {
    background: #FFECEC;
    padding: 10px;
    font-size: 16px;
    color: #FA3F3F;
    line-height: 22px;
    text-align: center; }
    @media (min-width: 640px) {
      .payment__warning {
        width: 45%;
        padding: 20px 20px 20px 10px; } }
  @media (min-width: 640px) {
    .payment__info {
      width: 45%;
      padding-right: 10px; } }
  @media (max-width: 640px) {
    .payment__info {
      margin-top: 20px; } }
  .payment__price {
    font-size: 28px;
    line-height: 34px;
    padding: 0 0 25px 0; }
  .payment__quantity-goods {
    font-size: 18px;
    line-height: 22px;
    padding: 0 0 25px 0; }

.call-back {
  justify-content: space-between;
  align-items: center; }
  .call-back__text * {
    color: #fff; }
  .call-back__form {
    background: #fff;
    box-shadow: 0 0 10px #00000073;
    border-radius: 5px 5px 0 0;
    padding: 20px;
    height: 100%; }
    @media (min-width: 640px) {
      .call-back__form {
        margin: -40px 0 0; } }

.red-block {
  background: #FA3F3F url("../../images/bg.png") no-repeat center;
  background-size: cover; }

.mobil-nav * {
  font-size: 18px; }

.mobil-nav a span {
  padding: 0 0 0 15px; }

.uk-navbar-dropdown-nav > li > a {
  color: #303030; }

.burger[aria-expanded="false"] .burger__open {
  display: block; }

.burger[aria-expanded="false"] .burger__closed {
  display: none; }

.burger[aria-expanded="true"] .burger__open {
  display: none; }

.burger[aria-expanded="true"] .burger__closed {
  display: block; }

.maps {
  width: 100%;
  height: 320px; }

.fail-list__item {
  background: #FBFAFA;
  padding: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center; }

.fail-list__delete {
  margin: 0 0 0 20px;
  cursor: pointer; }

.fail-list__name {
  font-size: 18px;
  font-weight: 600; }

.modal {
  border-radius: 10px; }
  .modal__closed {
    background: #FBFAFA;
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 100%; }
    .modal__closed:before, .modal__closed:after {
      content: '';
      width: 12px;
      height: 2px;
      background: #000;
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      margin: 50% auto 0;
      top: 0; }
    .modal__closed:after {
      transform: rotate(45deg); }
    .modal__closed:before {
      transform: rotate(-45deg); }

.select2-container {
  display: block; }
  .select2-container .select2-selection--single {
    height: auto;
    padding: 5px 0; }

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 40px; }

.select2-dropdown {
  background: #FBFAFA; }

.lk {
  background: #FBFAFA; }

.product__foto {
  background: #FCF1ED;
  border-radius: 10px;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center; }

.product__name {
  font-size: 16px;
  padding-bottom: 10px;
  padding-top: 10px; }

.product__size {
  padding: 0 0 0 20px; }

.product__price {
  padding-bottom: 20px; }
  .product__price * {
    font-size: 14px; }

.product__price-total {
  font-size: 20px;
  font-weight: 600; }

.order-details * {
  font-size: 18px; }

.order-status {
  background: #fff;
  border-radius: 10px; }
  .order-status * {
    color: #939393; }
  .order-status__sending-method * {
    font-size: 18px;
    color: #303030; }
  .order-status__sending-time {
    font-size: 14px;
    color: #303030;
    font-family: 'Roboto', sans-serif; }

.order-amount {
  background: #fff;
  border-radius: 10px; }
