@charset "UTF-8";
.fs18 {
  font-size: 18px; }
  .fs18 * {
    font-size: 18px; }

.fs28 {
  font-size: 28px; }
  .fs28 * {
    font-size: 28px; }

.gray_color {
  color: #939393; }

@media (max-width: 640px) {
  .no-padding_mobile {
    padding-left: 0 !important;
    padding-right: 0 !important; } }

@media (max-width: 640px) {
  .padding-mobile {
    padding: 0 0 0 15px; } }

.checkbox {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative; }
  .checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 22px;
    margin: 0;
    opacity: 0;
    cursor: pointer; }
    .checkbox input:checked ~ span.checkbox__custom-input {
      background: #FA3F3F url("../../images/checkbox.png") no-repeat center;
      border: solid 2px #FA3F3F; }
  .checkbox__custom-input {
    width: 22px;
    height: 22px;
    border: solid 2px #DADADA;
    border-radius: 3px; }
  .checkbox__text {
    font-size: 14px;
    padding: 0 0 0 5px; }

.list div {
  font-size: 14px; }
  .list div:first-of-type {
    color: #939393; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

* {
  font-size: 12px;
  line-height: 16px;
  font-family: 'Montserrat', sans-serif;
  color: #303030;
  box-sizing: border-box; }

header {
  border-bottom: solid 1px #EEEEEE; }

footer {
  padding: 40px 0; }

a {
  color: #303030;
  text-decoration: none; }
  a:hover {
    color: #FA3F3F;
    text-decoration: none; }

p {
  font-size: 18px;
  line-height: 28px; }
  p * {
    font-size: inherit;
    line-height: inherit; }

input[type='text'] {
  border-radius: 5px; }

.red-button {
  border: none;
  border-radius: 5px;
  background: #FA3F3F;
  height: 48px;
  width: 100%;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  border: solid 1px transparent;
  display: flex;
  align-items: center;
  justify-content: center; }
  .red-button:hover {
    color: #FA3F3F;
    border: solid 1px #FA3F3F;
    background: none; }
  .red-button:active {
    background: #fa3f3f1f; }
  .red-button > svg {
    margin-right: 10px; }

.search__body {
  border: solid 2px #FA3F3F;
  border-radius: 5px;
  display: flex;
  overflow: hidden;
  height: 44px; }

.search__submit {
  border: none;
  border-radius: 0;
  background: #FA3F3F;
  height: auto;
  width: 60px; }

.header .uk-navbar-container {
  background: none; }

.header .uk-navbar-nav > li > a, .header .uk-navbar-item, .header .uk-navbar-toggle {
  min-height: 50px; }

.header .uk-navbar-dropdown {
  width: 100%;
  left: 0 !important; }

.header .uk-navbar {
  position: static; }

@media (min-width: 640px) {
  .logo_width {
    width: 15%; } }

.search_width {
  width: 65%; }

.basket {
  text-align: center; }
  @media (min-width: 640px) {
    .basket_width {
      width: 10%; } }

.lk-link {
  text-align: center; }
  @media (min-width: 640px) {
    .lk-link_width {
      width: 10%; } }

.nav {
  width: 100%;
  justify-content: space-between;
  display: flex; }
  .nav a {
    text-transform: uppercase;
    font-weight: 600; }
  .nav__body {
    margin: 20px 0;
    display: flex; }
    .nav__body li {
      padding-left: 25px; }
      .nav__body li:first-of-type {
        padding-left: 0; }
    .nav__body_scroll {
      position: relative;
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap; }

.print-block {
  padding: 10px; }
  @media (min-width: 640px) {
    .print-block {
      background: #FBFAFA;
      height: 200px;
      border-radius: 5px; } }

.print-form {
  border-radius: 5px;
  padding: 5px;
  height: calc(100% - 15px);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: #939393; }
  @media (min-width: 640px) {
    .print-form {
      border: dashed 2px #cacaca; } }
  .print-form__submit {
    border: none;
    border-radius: 5px;
    background: #FA3F3F;
    height: 44px;
    width: 238px;
    background: #fa3f3f1f;
    color: #FA3F3F;
    font-weight: 600;
    text-transform: uppercase; }
  .print-form__file {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer; }

.tab {
  background: #FBFAFA;
  padding: 0; }
  .tab__button {
    border: none;
    border-radius: 5px;
    background: #FA3F3F;
    height: 48px;
    width: 100%;
    text-align: center;
    background: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center; }
  .tab li {
    list-style: none; }
  .tab .uk-active a {
    background: #FA3F3F;
    color: #fff; }

.payment {
  padding: 20px;
  background: #FBFAFA; }
  @media (min-width: 640px) {
    .payment__body {
      justify-content: space-between;
      display: flex; } }
  .payment__warning {
    background: #FFECEC;
    padding: 10px;
    font-size: 16px;
    color: #FA3F3F;
    line-height: 22px;
    text-align: center; }
    @media (min-width: 640px) {
      .payment__warning {
        width: 45%;
        padding: 20px 20px 20px 10px; } }
  @media (min-width: 640px) {
    .payment__info {
      width: 45%;
      padding-right: 10px; } }
  @media (max-width: 640px) {
    .payment__info {
      margin-top: 20px; } }
  .payment__price {
    font-size: 28px;
    line-height: 34px;
    padding: 0 0 25px 0; }
  .payment__quantity-goods {
    font-size: 18px;
    line-height: 22px;
    padding: 0 0 25px 0; }

.call-back {
  justify-content: space-between;
  align-items: center; }
  .call-back__text * {
    color: #fff; }
  .call-back__form {
    background: #fff;
    box-shadow: 0 0 10px #00000073;
    border-radius: 5px 5px 0 0;
    padding: 20px;
    height: 100%; }
    @media (min-width: 640px) {
      .call-back__form {
        margin: -40px 0 0; } }

.red-block {
  background: #FA3F3F url("../../images/bg.png") no-repeat center;
  background-size: cover; }
  @media (min-width: 640px) {
    .red-block {
      margin-top: 150px; } }

.mobil-nav * {
  font-size: 18px; }

.mobil-nav a span {
  padding: 0 0 0 15px; }

.uk-navbar-dropdown-nav > li > a {
  color: #303030; }

.burger[aria-expanded="false"] .burger__open {
  display: block; }

.burger[aria-expanded="false"] .burger__closed {
  display: none; }

.burger[aria-expanded="true"] .burger__open {
  display: none; }

.burger[aria-expanded="true"] .burger__closed {
  display: block; }

.maps {
  width: 100%;
  height: 320px; }

.fail-list__item {
  background: #FBFAFA;
  padding: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center; }

.fail-list__delete {
  margin: 0 0 0 20px;
  cursor: pointer; }

.fail-list__name {
  font-size: 18px;
  font-weight: 600; }

.modal {
  border-radius: 10px; }
  .modal__closed {
    background: #FBFAFA;
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 100%; }
    .modal__closed:before, .modal__closed:after {
      content: '';
      width: 12px;
      height: 2px;
      background: #000;
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      margin: 50% auto 0;
      top: 0; }
    .modal__closed:after {
      transform: rotate(45deg); }
    .modal__closed:before {
      transform: rotate(-45deg); }

.select2-container {
  display: block; }
  .select2-container .select2-selection--single {
    height: auto;
    padding: 5px 0; }

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 40px; }

.select2-dropdown {
  background: #FBFAFA; }

.gray_bg {
  background: #FBFAFA; }

.product {
  margin-bottom: 20px; }
  .product__foto {
    background: #FCF1ED;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px; }
    .product__foto img {
      max-width: 100%;
      max-height: 100%; }
    @media (min-width: 640px) {
      .product__foto {
        width: 120px;
        height: 120px;
        min-width: 120px; } }
  .product__description {
    padding-left: 20px; }
  .product__name {
    padding-bottom: 10px;
    padding-top: 10px; }
    @media (min-width: 640px) {
      .product__name {
        font-size: 16px; } }
  .product__size {
    padding: 0 0 0 20px; }
  .product__price {
    padding-bottom: 20px; }
    .product__price * {
      font-size: 14px; }
  .product__price-total {
    font-size: 16px;
    font-weight: 600; }
    @media (min-width: 640px) {
      .product__price-total {
        font-size: 20px; } }

.order-details {
  padding: 25px 0; }
  .order-details * {
    font-size: 18px; }

.order-status {
  background: #fff;
  border-radius: 10px; }
  .order-status * {
    color: #939393; }
  .order-status__sending-method * {
    font-size: 18px;
    color: #303030; }
  .order-status__sending-time {
    font-size: 14px;
    color: #303030;
    font-family: 'Roboto', sans-serif; }

.order-amount {
  background: #fff;
  border-radius: 10px; }
  .order-amount__total {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 20px; }
  .order-amount__head {
    color: #939393;
    padding-bottom: 20px; }
  .order-amount_gray-bg {
    background: #FBFAFA; }
  .order-amount__price {
    font-size: 28px;
    padding-bottom: 20px; }
  .order-amount__availability {
    font-size: 16px;
    padding-bottom: 20px; }

.order-details-list__left {
  font-weight: 600; }
  @media (min-width: 640px) {
    .order-details-list__left {
      font-size: 16px; } }

@media (min-width: 640px) {
  .order-details-list__right {
    font-size: 16px; } }

.slide-toggle-button {
  font-size: 18px;
  cursor: pointer; }
  .slide-toggle-button:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    border-top: solid 2px #303030;
    border-left: solid 2px #303030;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    margin: 0 0 0 30px; }

.slide-toggle-button[aria-expanded="false"]:after {
  transform: rotate(225deg); }

.lk-tab {
  display: flex;
  padding: 20px 0;
  justify-content: center; }
  @media (min-width: 640px) {
    .lk-tab {
      justify-content: left; } }
  .lk-tab li {
    list-style: none; }
  .lk-tab__button {
    padding: 10px 20px;
    border-bottom: solid 3px #939393;
    font-weight: 600;
    text-transform: uppercase;
    color: #939393; }
  .lk-tab .uk-active a {
    border-bottom: solid 3px #FA3F3F;
    color: #FA3F3F; }

.product-detail {
  display: flex; }
  @media (max-width: 640px) {
    .product-detail {
      padding: 0; } }
  .product-detail__discount {
    padding: 5px;
    position: absolute;
    z-index: 3;
    background: #FA3F3F;
    top: 20px;
    font-size: 16px;
    color: #fff;
    border-radius: 0 5px 5px 0;
    left: 0;
    font-style: italic; }
  .product-detail__description {
    padding-left: 20px;
    width: 100%; }
    .product-detail__description * {
      font-size: 14px; }
  .product-detail__img {
    background: #FCF1ED;
    height: 140px;
    padding: 10px;
    border-radius: 10px;
    min-width: 100px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center; }
    @media (min-width: 640px) {
      .product-detail__img {
        min-width: 255px;
        height: 234px; } }
    .product-detail__img img {
      max-width: 100%;
      max-height: 100%; }
  .product-detail__name {
    font-size: 18px;
    font-weight: 600; }
  .product-detail__info-left {
    color: #939393; }
  .product-detail__info-right {
    padding: 0 0 0 5px; }
  .product-detail__price {
    font-size: 24px; }
    @media (min-width: 640px) {
      .product-detail__price {
        font-size: 28px; } }
  .product-detail__old-price {
    font-size: 20px;
    text-decoration: line-through;
    color: #939393; }

.params-list * {
  font-size: 14px; }

.calc {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap; }
  .calc span {
    height: 40px;
    text-align: center;
    font-weight: 300; }
    @media (min-width: 640px) {
      .calc span {
        height: 44px; } }
  .calc__inc {
    font-size: 40px;
    width: 40px; }
    @media (min-width: 640px) {
      .calc__inc {
        width: 44px; } }
  .calc__dec {
    font-size: 40px;
    width: 40px; }
    @media (min-width: 640px) {
      .calc__dec {
        width: 44px; } }
  .calc__total {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 44px;
    padding: 0 15px; }

.polzunok-container-5 * {
  box-sizing: border-box;
  outline: none; }

.polzunok-container-5:after {
  content: "";
  clear: both;
  display: table; }

.polzunok-container-5 .ui-slider {
  position: relative;
  background: #DADADA;
  height: 2px;
  border-radius: 10px;
  clear: both; }

.polzunok-container-5 .ui-slider .ui-slider-handle {
  position: absolute;
  margin-left: -8px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #DADADA;
  top: -6px;
  background: #FFF;
  z-index: 2;
  transition: transform 0.2s, border 0.4s; }

.polzunok-container-5 .ui-slider .ui-slider-handle:hover,
.polzunok-container-5 .ui-slider .ui-slider-handle:focus {
  transform: scale(1.2);
  border: 2px solid #FA3F3F; }

.polzunok-input-5-left,
.polzunok-input-5-right {
  height: 36px;
  background: #FFF;
  border-radius: 28px;
  border: 1px solid #DADADA;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  width: 25%;
  margin-bottom: 15px; }
  .polzunok-input-5-left:focus,
  .polzunok-input-5-right:focus {
    border: 1px solid #FA3F3F; }

.polzunok-input-5-left {
  float: left; }

.polzunok-input-5-right {
  float: right; }

.polzunok-container-5 .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  height: 2px;
  border: 0;
  background: #FA3F3F; }

.filter-open {
  width: 40px;
  height: 40px;
  position: fixed;
  right: 25px;
  bottom: 100px;
  z-index: 999;
  border-radius: 100%;
  background: #fff url("../../images/filter.png") no-repeat center;
  box-shadow: 0 0 10px #0000001a;
  cursor: pointer; }

.filter_closed {
  background: #FBFAFA;
  position: fixed;
  right: 15px;
  top: 6%;
  border: none;
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 100%;
  bottom: auto; }
  .filter_closed:before, .filter_closed:after {
    content: '';
    width: 12px;
    height: 2px;
    background: #000;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: 50% auto 0;
    top: 0; }
  .filter_closed:after {
    transform: rotate(45deg); }
  .filter_closed:before {
    transform: rotate(-45deg); }

@media (max-width: 960px) {
  .filter_position_mobile {
    position: fixed;
    z-index: 999;
    right: 0;
    background: #fff;
    top: 4%;
    height: 92%;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px;
    padding: 0; }
    .filter_position_mobile h2 {
      position: fixed;
      top: 4%;
      right: 0;
      display: block;
      background: #fff;
      z-index: 3;
      text-indent: 15px;
      border-radius: 10px 10px 0 0;
      height: 44px;
      padding: 10px 0 0;
      width: 100%; } }
    @media (max-width: 960px) and (min-width: 640px) {
      .filter_position_mobile h2 {
        width: 50%; } }

@media (max-width: 960px) {
    .filter_position_mobile form {
      position: relative;
      z-index: 2;
      background: #fff;
      padding: 15px; }
    .filter_position_mobile:after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0.3;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 1; } }

.product_orange_block {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: #FCF1ED;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px; }
  .product_orange_block img {
    max-width: 100%;
    max-height: 100%; }

@media (min-width: 1200px) {
  .card-slider {
    display: flex; } }

.card-slider__thumb {
  display: none; }
  @media (min-width: 640px) {
    .card-slider__thumb {
      display: block; } }
  @media (min-width: 1200px) {
    .card-slider__thumb {
      width: 70px; } }
  .card-slider__thumb .slick-slide {
    padding: 0 10px 0 0;
    cursor: pointer; }
    @media (min-width: 1200px) {
      .card-slider__thumb .slick-slide {
        padding: 0 0 10px 0; } }
    .card-slider__thumb .slick-slide:last-of-type {
      padding-bottom: 0; }
  .card-slider__thumb .slick-current .product_orange_block {
    border: solid 2px #FA3F3F; }

.card-slider__main {
  padding: 0 10px 10px 0; }
  @media (min-width: 1200px) {
    .card-slider__main {
      padding: 0 0 0 10px;
      width: 80%; } }
  .card-slider__main div {
    height: 100%; }

.card-product {
  flex-wrap: wrap;
  justify-content: space-between; }
  @media (max-width: 640px) {
    .card-product {
      display: block; } }
  @media (min-width: 960px) {
    .card-product {
      flex-wrap: initial;
      justify-content: left; } }
  .card-product_width1 {
    width: 100%; }
    @media (min-width: 640px) {
      .card-product_width1 {
        width: 50%; } }
    @media (min-width: 960px) {
      .card-product_width1 {
        width: 35%; } }
    @media (min-width: 1200px) {
      .card-product_width1 {
        width: 470px; } }
  .card-product_width2 {
    min-width: 180px; }
    @media (min-width: 960px) {
      .card-product_width2 {
        min-width: 250px; } }
  .card-product_width3 {
    width: 100%; }
  .card-product__mobile-style {
    padding: 20px 0 0; }

.product-card__name a {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #303030; }
  .product-card__name a:hover {
    color: #FA3F3F; }

.product-card__price {
  font-size: 18px; }

.product-card__old-price {
  color: #939393;
  text-decoration: line-through;
  font-size: 18px;
  padding: 0 0 0 15px; }

.product-card__actual-price {
  font-size: 32px; }
