.fs18 {
  font-size: 18px; }
  .fs18 * {
    font-size: 18px; }

.fs28 {
  font-size: 28px; }
  .fs28 * {
    font-size: 28px; }

.gray_color {
  color: #939393; }

@media (max-width: 640px) {
  .no-padding_mobile {
    padding-left: 0 !important;
    padding-right: 0 !important; } }

@media (max-width: 640px) {
  .padding-mobile {
    padding: 0 0 0 15px; } }
