@import "variable";
@import "slick";
@import "slick-theme";
*{
  font-size: 12px;
  line-height: 16px;
  font-family: 'Montserrat', sans-serif;
  color: $color;
  box-sizing: border-box;
}
header{
  border-bottom: solid 1px #EEEEEE;
}
footer{
  padding: 40px 0;
}
a{
  color: $color;
  text-decoration: none;
  word-break: break-all;
  svg{
    margin-right: 10px;
  }
  &:hover{
    color: $red;
    text-decoration: none;
    path{
      fill: #FA3F3F;
    }
    circle{
      fill:#FA3F3F;
      opacity: 0.1;
    }
  }
}
p{
  font-size: 18px;
  line-height: 28px;
  *{
    font-size: inherit;
    line-height: inherit;
  }
}
input[type='text']{
  border-radius: 5px;
}
.red-button{
  @include button(100%,48px,5px);
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  border: solid 1px transparent;
  @include center_content;
  &__orange-button{
    background: $red_opacity;
    color: $red;
  }
  &:hover{
    color: $red;
    border: solid 1px $red;
    background: none;
  }
  &:active{
    background: $red_opacity;
  }
  > svg{
    margin-right: 10px;
  }

}
.search{
  &__body{
    border: solid 2px $button_red;
    border-radius: 5px;
    display: flex;
    overflow: hidden;
    height: 44px;
  }
  &__text{

  }
  &__submit{
    @include button(60px,auto,0)
  }
}
.header{
  .uk-navbar-container{
    background: none;
  }
  .uk-navbar-nav > li > a, .uk-navbar-item, .uk-navbar-toggle{
    min-height: 50px;
  }
  .uk-navbar-dropdown{
    width: 100%;
    left: 0 !important;
  }
  .uk-navbar{
    position: static;
  }

}
.logo{
  &_width{
    @media (min-width: $small) {
      width: 15%;
    }
  }
}
.search{
  &_width{
    width: 65%;
  }
}
.basket{
  text-align: center;
  &_width{
    @media (min-width: $small) {
      width: 10%;
    }
  }
}
.lk-link{
  text-align: center;
  &_width{
    @media (min-width: $small) {
      width: 10%;
    }
  }
}
.nav{
  width: 100%;
  justify-content: space-between;
  display: flex;
  a{
    text-transform: uppercase;
    font-weight: 600;
  }
  &__body{
    margin: 20px 0;
    display: flex;
    li{
      padding-left: 25px;
      &:first-of-type{
        padding-left: 0;
      }
    }
    &_scroll{
      position: relative;
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;
    }
  }
}
.print-block{
  padding: 10px;
  @media (min-width: $small) {
    background: #FBFAFA;
    height: 200px;
    border-radius: 5px;
  }
}
.print-form{

  border-radius: 5px;
  padding: 5px;
  height: calc(100% - 15px);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: $color_gray;
  @media (min-width: $small) {
    border: dashed 2px #cacaca;
  }

  &__submit{
    @include button(238px,44px,5px);
    background: $red_opacity;
    color: $red;
    font-weight: 600;
    text-transform: uppercase;
  }
  &__file{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
  }
}
.tab{
  background: $bg_gray;
  padding: 0;

  &__button{
    @include button(100%,48px,5px);
    text-align: center;
    background: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  li{
    list-style: none;

  }
  .uk-active{
    a{
      background: $button_red;
      color: #fff;
    }
  }

}
.payment{
  padding: 20px;
  background: $bg_gray;
  &__body{
    @media (min-width: $small) {
      justify-content: space-between;
      display: flex;
    }
  }
  &__warning{
    background: #FFECEC;
    padding:10px;
    font-size: 16px;
    color: #FA3F3F;
    line-height: 22px;
    text-align: center;
    @media (min-width: $small) {
      width: 45%;
      padding: 20px 20px 20px 10px;
    }
  }
  &__info{
    @media (min-width: $small) {
      width: 45%;
      padding-right: 10px;
    }
    @media (max-width: $small) {
      margin-top: 20px;
    }
  }
  &__price{
    font-size: 28px;
    line-height: 34px;
    padding: 0 0 25px 0;
  }
  &__quantity-goods{
    font-size: 18px;
    line-height: 22px;
    padding: 0 0 25px 0;
  }
}

.call-back{
  justify-content: space-between;
  align-items: center;
  &__text{
    *{
      color: #fff;
    }
  }
  &__form{
    background: #fff;
    box-shadow: 0 0 10px #00000073;
    border-radius: 5px 5px 0 0;
    padding: 20px;
    height: 100%;
    @media (min-width: $small) {
      margin: -40px 0 0;
    }
  }
}
.red-block{
  background: $red url("../../images/bg.png") no-repeat center;
  background-size: cover;
  @media (min-width: $small) {
    margin-top: 150px;
  }
}
.mobil-nav{
  *{
    font-size: 18px;
  }
  a{
    span{
      padding: 0 0 0 15px;
    }
  }
}
.uk-navbar-dropdown-nav > li > a{
  color:$color;
}

.burger[aria-expanded="false"]{
  .burger__open{
    display: block;
  }
  .burger__closed{
    display: none;
  }

}
.burger[aria-expanded="true"]{
  .burger__open{
    display: none;
  }
  .burger__closed{
    display: block;
  }
}
.maps{
  width: 100%;
  height: 320px;

}
.fail-list{
  &__item{
    background: $bg_gray;
    padding: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  &__delete{
    margin: 0 0 0 20px;
    cursor: pointer;
  }
  &__name{
    font-size: 18px;
    font-weight: 600;
  }
}
.modal{
  border-radius: 10px;
  &__closed{
    background: $bg_gray;
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 100%;
    &:before,&:after{
      content: '';
      width: 12px;
      height: 2px;
      background: #000;
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      margin: 50% auto 0;
      top: 0;
    }
    &:after{
      transform: rotate(
                      45deg
      );
    }
    &:before{
      transform: rotate(
                      -45deg
      );
    }
  }
}

.select2-container{
  display: block;
  .select2-selection--single{
    height: auto;
    padding: 5px 0;
  }
}
.select2-container--default{
  .select2-selection--single{
    .select2-selection__arrow{
      height: 40px;
    }
  }
}
.select2-dropdown{
  background: $bg_gray;
}
.gray_bg{
  background: $bg_gray;
}
.product{
  margin-bottom: 20px;
  &__foto{
    background: $orange;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    img{
      max-width: 100%;
      max-height: 100%;
    }
    @media (min-width: $small) {
      width: 120px;
      height: 120px;
      min-width: 120px;
    }
  }
  &__description{
    padding-left: 20px;
  }
  &__name{
    @media (min-width: $small) {
      font-size: 16px;
    }
    padding-bottom: 10px;
    padding-top: 10px;
  }
  &__size{
    padding: 0 0 0 20px;
  }
  &__price{
    *{
      font-size: 14px;
    }
    padding-bottom: 20px;
  }
  &__price-total{
    font-size: 16px;
    font-weight: 600;
    @media (min-width: $small) {
      font-size: 20px;
    }
  }
}
.order-details{
  padding: 25px 0;
  *{
    font-size: 18px;
  }
}
.order-status{
  background: #fff;
  border-radius: 10px;
  *{color: $color_gray;}
  &__sending-method{
    *{font-size: 18px;color: $color;}
  }
  &__sending-time{
    font-size: 14px;
    color: $color;
    font-family: 'Roboto', sans-serif;
  }
}
.order-amount{
  background: #fff;
  border-radius: 10px;
  &__total{
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 20px;
  }
  &__head{
    color: $color_gray;
    padding-bottom: 20px;
  }
  &_gray-bg{
    background: $bg_gray;
  }
  &__price{
    font-size: 28px;
    padding-bottom: 20px;
  }
  &__availability{
    font-size: 16px;
    padding-bottom: 20px;
  }
}
.order-details-list{
  &__left{
    font-weight: 600;
    @media (min-width: $small) {
      font-size: 16px;
    }
  }
  &__right{
    @media (min-width: $small) {
      font-size: 16px;
    }
  }
}
.slide-toggle-button{
  font-size: 18px;
  cursor: pointer;
  &:after{
    content: '';
    display: inline-block;
    vertical-align: middle;
    border-top: solid 2px $color;
    border-left: solid 2px $color;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    margin: 0 0 0 30px;
  }
}
.slide-toggle-button[aria-expanded="false"]{
  &:after{
    transform: rotate(225deg);
  }
}
.lk-tab{
  display: flex;
  padding: 20px 0;
  justify-content: center;
  @media (min-width: $small) {
    justify-content: left;
  }
  li{
    list-style: none;
  }
  &__button{
    padding:10px 20px;
    border-bottom: solid 3px $color_gray;
    font-weight: 600;
    text-transform: uppercase;
    color: $color_gray;
  }
  .uk-active{
    a{
      border-bottom: solid 3px $red;
      color: $red;
    }
  }
}
.product-detail{
  display: flex;
  @media (max-width: $small) {
    padding: 0;
  }

  &__discount{
    padding: 5px;
    position: absolute;
    z-index: 3;
    background: $red;
    top: 20px;
    font-size: 16px;
    color: #fff;
    border-radius: 0 5px 5px 0;
    left: 0;
    font-style: italic;
  }
  &__description{
    padding-left: 20px;
    width: 100%;
    *{
      font-size: 14px;
    }
  }
  &__img{
    background: $orange;

    height: 140px;
    padding: 10px;
    border-radius: 10px;
    min-width: 100px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    @media (min-width: $small) {
      min-width: 255px;
      height: 234px;
    }
    img{
      max-width: 100%;
      max-height: 100%;
    }
  }
  &__name{
    font-size: 18px;
    font-weight: 600;
  }
  &__info-left{
    color: $color_gray;
  }
  &__info-right{
    padding: 0 0 0 5px;
  }
  &__price{
    font-size: 24px;
    @media (min-width: $small) {
      font-size: 28px;
    }
  }
  &__old-price{
    font-size: 20px;
    text-decoration: line-through;
    color: $color_gray;
  }
}
.params-list{
  *{font-size: 14px;}
}
.calc{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  span{
    height: 40px;
    text-align: center;
    font-weight: 300;
    @media (min-width: $small) {
      height: 44px;
    }
  }
  &__inc{
    font-size: 40px;
    width: 40px;
    @media (min-width: $small) {
      width: 44px;
    }
  }
  &__dec{
    font-size: 40px;
    width: 40px;
    @media (min-width: $small) {
      width: 44px;
    }
  }
  &__total{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 44px;
    padding: 0 15px;
  }
}


.polzunok-container-5 * {
  box-sizing: border-box;
  outline: none;
}
.polzunok-container-5 {

}
.polzunok-container-5:after {
  content: "";
  clear: both;
  display: table;
}
.polzunok-container-5 .ui-slider {
  position: relative;
  background: $input_border;
  height: 2px;
  border-radius:10px;
  clear: both;
}
.polzunok-container-5 .ui-slider .ui-slider-handle {
  position: absolute;
  margin-left: -8px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid $input_border;
  top: -6px;
  background: #FFF;
  z-index: 2;
  transition: transform 0.2s, border 0.4s;
}
.polzunok-container-5 .ui-slider .ui-slider-handle:hover,
.polzunok-container-5 .ui-slider .ui-slider-handle:focus {
  transform: scale(1.2);
  border: 2px solid $red;
}
.polzunok-input-5-left,
.polzunok-input-5-right {
  height: 36px;
  background: #FFF;
  border-radius: 28px;
  border: 1px solid $input_border;
  text-align:center;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  width: 25%;
  margin-bottom: 15px;
  &:focus{
    border: 1px solid $button_red;
  }
}
.polzunok-input-5-left {
  float: left;
}
.polzunok-input-5-right {
  float: right;
}
.polzunok-container-5 .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  height: 2px;
  border: 0;
  background: $red;

}
.filter{
  &-open {
    width: 40px;
    height: 40px;
    position: fixed;
    right: 25px;
    bottom: 100px;
    z-index: 999;
    border-radius: 100%;
    background: #fff url("../../images/filter.png") no-repeat center;
    box-shadow: 0 0 10px #0000001a;
    cursor: pointer;
  }
  &_closed{
    background: #FBFAFA;
    position: fixed;
    right: 15px;
    top: 6%;
    border: none;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 100%;
    bottom: auto;
    &:before, &:after {
      content: '';
      width: 12px;
      height: 2px;
      background: #000;
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      margin: 50% auto 0;
      top: 0;
    }
    &:after{
      transform: rotate(
                      45deg
      );
    }
    &:before{
      transform: rotate(
                      -45deg
      );
    }
  }
}
@media (max-width: $medium) {
  .filter_position_mobile{
    position: fixed;
    z-index: 999;
    right: 0;
    background: #fff;
    top: 4%;
    height: 92%;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px;
    padding: 0;
    h2{
      position: fixed;
      top: 4%;
      right: 0;
      display: block;
      background: #fff;
      z-index: 3;
      text-indent: 15px;
      border-radius: 10px 10px 0 0;
      height: 44px;
      padding: 10px 0 0;
      width: 100%;
      @media (min-width: $small) {
        width: 50%;

      }
    }
    form{
      position: relative;
      z-index: 2;
      background: #fff;
      padding: 15px;
    }
    &:after{
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0.3;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 1;
    }
  }
}
.product_orange_block{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: $orange;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  img{
    max-width: 100%;
    max-height: 100%;
  }
}
.thumb-slider{
  .slick-slide{
  }
}
.card-slider{
  @media (min-width: $large) {
    display: flex;
  }

  &__thumb{
    display: none;
    @media (min-width: $small) {
      display: block;
    }
    @media(min-width: $large) {
      width: 70px;
    }
    .slick-slide{
      padding: 0 10px 0 0;
      cursor: pointer;
      @media(min-width: $large) {
        padding: 0 0 10px 0;
      }
      &:last-of-type{
        padding-bottom: 0;
      }
    }
    .slick-current{
      .product_orange_block{
        border: solid 2px $red;
      }
    }
  }
  &__main{
    padding: 0 10px 10px 0;
    @media(min-width: $large) {
      padding: 0 0 0 10px;
      width: 80%;
    }
    div{
      height: 100%;
    }
  }
}
.card-product{
  flex-wrap: wrap;
  justify-content: space-between;
  @media (max-width: $small) {
    display: block;
  }
  @media(min-width: $medium) {
    flex-wrap: initial;
    justify-content: left;
  }
  &_width1{
    width: 100%;
    @media (min-width: $small) {
      width: 50%;
    }
    @media(min-width: $medium) {
      width: 35%;
    }
    @media(min-width: $large) {
      width: 470px;
    }
  }
  &_width2{
    min-width: 180px;
    @media(min-width: $medium) {
      min-width: 250px;
    }
  }
  &_width3{
    width: 100%;
  }
  &__mobile-style{
    padding: 20px 0 0;
  }
}
.product-card{
  &__name{

    a{
      font-size: 16px;
      font-family: 'Roboto', sans-serif;
      color: #303030;
      &:hover{
        color: $red;
      }
    }
  }
  &__price{
    font-size: 18px;

  }
  &__old-price{
    color: $color_gray;
    text-decoration: line-through;
    font-size: 18px;
    padding: 0 0 0 15px;
  }
  &__actual-price{
    font-size: 32px;
  }
}
.warning-price{
  background: $orange;
  text-align: center;
  color: $red;
  padding: 15px;
  svg{
    padding: 15px 0;
  }
}

.credentials{
  *{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
  }
}

.password{
  width: 24px;
  height: 24px;
  display: block;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 2;
  background: url("../../images/icon-pas2.png");
  &__show{background: url("../../images/icon-pas.png");}
}
.password-block{
  position: relative;
  input{
    padding: 0 50px 0 10px;
    border-radius: 5px;
  }
}
.error{
  input{
    border: solid 1px $red;
  }

  &-text{
    color: $red;
    text-align: left;
  }
}
.category{
  position: relative;
  span{
    position: absolute;
    bottom: 32px;
    left: 75px;
    z-index: 2;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.06em;
    @media (min-width: $small) {
      font-size: 18px;
    }
  }
  img{
    position: relative;
    z-index: 1;
    max-width: 100%;
    max-height: 100%;
  }
}
