$button_red: #FA3F3F;
$red: #FA3F3F;
$color: #303030;
$color_gray: #939393;
$bg_gray: #FBFAFA;
$red_opacity: #fa3f3f1f;
$orange: #FCF1ED;
$input_border: #DADADA;

$small: 640px;
$medium: 960px;
$large: 1200px;
$xLarge: 1600px;

@mixin button($width, $height,$radius) {
  border: none;
  border-radius: $radius;
  background: $button_red;
  height: $height;
  width: $width;
}
@mixin center_content{
  display: flex;
  align-items: center;
  justify-content: center;
}
.fs18{
  font-size: 18px;
  *{
    font-size: 18px;
  }
}
.fs28{
  font-size: 28px;
  *{
    font-size: 28px;
  }
}

.gray_color{
  color: $color_gray;
}
.no-padding_mobile{
  @media (max-width: $small) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
.padding-mobile{
  @media (max-width: $small) {
    padding:0 0 0 15px;
  }
}
.checkbox{
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  input{
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 22px;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    &:checked~span.checkbox__custom-input{
      background: $red url("../../images/checkbox.png") no-repeat center;
      border: solid 2px $red;
    }
  }
  &__custom-input{
    width: 22px;
    height: 22px;
    border: solid 2px $input_border;
    border-radius: 3px;
  }
  &__text{
    font-size: 14px;
    padding:  0 0 0 5px;
  }
}

.list{
  div{
    font-size: 14px;
    &:first-of-type{
      color: $color_gray;
    }
  }
}
